.userPhoto {
  width: 100px;
  border-radius: 50px;
}

.user {
  width: 95%;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #363738;
  padding: 20px;
}

.user h3,
.user p {
  margin: 0;
  padding: 0;
}

.followUnfollowButton {
  background-color: #4a065e;
  border-radius: 8px;
  border-width: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 5px 10px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
