.banner__container {
  width: 1000px;
  height: 150px;
  overflow: hidden;
}


.banner {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  object-position: center bottom;
}

.profilepic {
  width: 150px;
}

.description_block {
  padding: 10px;
}