form {
  margin-top: 10px;
}

.formControl input {
  padding: 12px 12px;
  font-size: 14px;
}

.formControl.error input,
.formControl.error textarea {
  border: 2px solid red;
}

.formControl.error span {
  color: red;
}

.formSummaryError {
  border: 1px red solid;
  padding: 5px;
  color: red;
}

.rememberMeCheckbox {
  color: red;
}

h1 {
  margin: 0;
}
