.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: auto 1fr auto;
  grid-column-gap: 10px;
}

.dialogsItems {
  grid-row: 1 / span 3;
  padding: 10px;
  border-right: 1px solid #363738;
}

.messages {
  grid-row: 1 / 2;
  max-height: 500px;
  overflow-y: auto;
  padding: 10px;
  border-bottom: 1px solid #363738;
}

.messageInput {
  grid-row: 3 / 4;
  padding: 10px;
}

.messageItem {
  display: flex;
  margin-bottom: 10px;
}

.messageAuthor {
  margin-right: 10px;
}

.message {
  max-width: 60%;
  padding: 5px;
  border-radius: 8px;
  background-color: #444;
  color: #fff;
}

.ownMessage {
  justify-content: flex-end;
}

.ownMessage .message {
  background-color: #007bff;
}
